:root {
    --main-shadow: 0 0 8px var(--main-border), 0 0 16px var(--main-border),
        inset 0 0 4px var(--main-border), inset 0 0 8px var(--main-border);
    --background-text: #f5deb3;
    --box-shadow-text: 0 0 8px #ff8800, 0 0 16px #ff8800, inset 0 0 4px #ff8800,
        inset 0 0 8px #ff8800;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    height: 100vh;
    width: 100vw;
    background-color: var(--main-background);
    position: relative;
    transition: background-color 0.3s ease;
    overflow: hidden;
}
button,
select,
input {
    cursor: pointer;
}

/* Цвет полосы прокрутки */
::-webkit-scrollbar {
    width: 8px; /* Ширина полосы прокрутки */
}

/* Стиль "бегунка" полосы прокрутки (полоса, которую можно перетаскивать) */
::-webkit-scrollbar-thumb {
    background-color: #ff9800; /* Цвет "бегунка" */
    border-radius: 5px; /* Скругление углов "бегунка" */
}

/* Стиль фона полосы прокрутки */
::-webkit-scrollbar-track {
    background-color: #f5deb3; /* Цвет фона полосы прокрутки */
    border-radius: 5px;
}

/*todo *********************************************************/
/*todo ******** selection *************************************/

.body__selection {
    position: fixed;
    background-color: var(--main-background);
    width: 100px;
    height: 100%;
    left: -80px;
    /* left: 0px; */
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border: 2px solid var(--main-border);
    box-shadow: var(--main-shadow);
    transition: transform 600ms;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
    padding: 20px 0;
}
.body__selection:hover {
    transform: translateX(80px);
}

.selection__sounds-timer-mp3 {
    color: #fbc700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    width: 100%;
    align-items: center;
}
.selection__sounds-timer-mp3 div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid var(--main-border);
}
.sounds-timer-mp3__buton button {
    width: 40px;
    color: var(--main-background);
    background-color: #f5deb3;
    border-radius: 4px;
    border: 1px solid #fbc700;
    box-shadow: var(--box-shadow-text);
}

.selection__60-30-15 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.selection__60-30-15 select {
    width: 90%;
    background-color: #f5deb3;
    border-radius: 4px;
    box-shadow: var(--box-shadow-text);
    border: 1px solid #ff8800;
}

.selection__list {
    width: 100%;
    color: #ff9800;
    text-align: center;
}

.selection__list ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: 60vh;
    border: 1px solid var(--main-border);
    box-shadow: var(--main-shadow);
    justify-content: space-evenly;
}

.selection__list ul li {
    list-style: none;
    width: 90%;
    background-color: #f5deb3;
    border-radius: 4px;
    box-shadow: var(--box-shadow-text);
    border: 1px solid #ff8800;
    padding-bottom: 15px;
    position: relative;
    text-align: center;
    margin-top: 6px;
    color: var(--main-background);
}

.selection__list ul li input {
    position: absolute;
    bottom: 3px;
    right: 0;
}

.selection-save {
    width: 90%;
    background-color: #f5deb3;
    border-radius: 4px;
    box-shadow: var(--box-shadow-text);
    border: 1px solid #ff8800;
}
/*todo *********************************************************/
/*todo ******** navigation *************************************/
.body__navigation {
    position: fixed;
    background-color: var(--main-background);
    right: -80px;
    /* right: 0px; */
    height: 100%;
    width: 100px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border: 2px solid var(--main-border);
    box-shadow: var(--main-shadow);
    transition: transform 600ms;
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
.body__navigation:hover {
    transform: translateX(-80px);
}

.body__navigation ul {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow-y: auto;
    direction: rtl;
}
.body__navigation ul li {
    min-height: 50px;
    width: 90%;
    background-color: wheat;
    border: 2px solid var(--main-border);
    border-radius: 5px;
    box-shadow: var(--main-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
    position: relative;
    box-shadow: var(--box-shadow-text);
    border: 1px solid #ff8800;
    display: none;
}
.body__navigation ul li.active {
    animation: pulseActive 1s infinite;
}
.body__navigation ul li.show {
    display: flex;
}

@keyframes pulseActive {
    0% {
        box-shadow: var(--box-shadow-text);
    }
    100% {
        box-shadow: var(--main-shadow);
        border: 1px solid var(--main-background);
    }
}
.body__navigation-ul li {
    display: none;
}

.body__navigation-ul li span {
    padding-bottom: 14px;
    cursor: pointer;
}
.body__navigation_bt-del {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: unset;
    border: none;
    color: red;
}

/*todo *********************************************************/
/*todo ************* timer *************************************/

.body__timer-wind {
    position: absolute;
    height: 102px;
    width: 102px;
    border-radius: 50%;
    background-color: #ff8800;
    top: 6vw;
    left: 6vw;
    transition: all 300ms ease-out;
}
.body__timer-wind.game-start {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #00dfff45;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    border-radius: 0;
}
.timer-wind__timer {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: aqua;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 300ms ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body__timer-wind.game-start .timer-wind__timer {
    position: absolute;
    height: 300px;
    width: 300px;
    background-color: aqua;
}
.little-time {
    background-color: #ff5722e6;
}

.body__timer-wind.game-start .timer-wind__timer.little-time {
    background-color: #3800d5;
    animation: little-time 800ms infinite;
}
@keyframes little-time {
    0% {
        background-color: #1e0070;
    }
    100% {
        background-color: #ff0000;
        box-shadow: 0 0 15px #ff0000, 0 0 30px #ff0000, 0 0 55px #ff0000,
            0 0 61px #ff0000, 0 0 15px #ff0000,
            /* Другой цвет тени */ 0 0 30px #ff0000, 0 0 55px #ff0000,
            0 0 61px #ff0000;
    }
}

.body__timer-wind .timer-wind__timer span {
    height: 2px;
    width: 10px;
    background-color: #fbc700;
    position: absolute;
}

.body__timer-wind.game-start .timer-wind__timer span {
    height: 9px;
    width: 50px;
    background-color: var(--main-border);
    border-radius: 2px;
    /* position: absolute; */
    border: 1px solid #8b0000;
}

.timer-wind__stop-tim {
    position: absolute;
    top: -25px;
    left: -19px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer-wind__stop-tim:hover {
    box-shadow: 0 0 8px #ff0000, 0 0 16px #ff0000;
    background-color: #ff0000;
}

.timer-wind__stop-tim.active {
    top: 8vw;
    left: 10vw;
    height: 50px;
    width: 50px;
}

.timer-wind__stop-tim svg {
    height: 30px;
    width: 30px;
}

.timer-wind__stop-tim.active svg {
    height: 50px;
    width: 50px;
}

.body__main {
    height: 100vh;
    width: 100vw;
    /* background-color: #413f3f; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.body__main h1 {
    color: #ff9800;
    margin-bottom: 2vw;
}

.body__main_video {
    /* border: 2px solid #000; */
    height: 50vh;
    width: 86vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.body__main_video p {
    color: #fbc700;
    font-size: 4vw;
}

.body__main_video video {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    border-radius: 25px;
    box-shadow: 0 0 8px var(--main-border), 0 0 15px var(--main-border),
        0 0 30px var(--main-border), 0 0 60px var(--main-border);
    display: none;
}
.body__main_video video.active {
    display: block;
}

.body__main_bt-start {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.bt-start {
    width: 300px;
    height: 100px;
    border: 2px solid var(--main-border);
    border-radius: 35%;
    background-color: var(--main-background);
    box-shadow: var(--main-shadow), inset 4px -4px 4px #000000a1,
        inset -4px 4px 4px #ffffff9a;
    font-size: 54px;
    font-weight: bold;
    color: #fbc700;
    cursor: pointer;
}

.bt-start:hover {
    background-color: #3800d5;
    box-shadow: 0 0 8px #3800d5, 0 0 16px #3800d5, inset 4px -4px 4px #000000a1,
        inset -4px 4px 4px #ffffff9a;
    text-shadow: 0 0 4px #fbc700, 0 0 8px #fbc700;
}
