:root {
    --main-shadow: 0 0 8px var(--main-border), 0 0 16px var(--main-border),
        inset 0 0 4px var(--main-border), inset 0 0 8px var(--main-border);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    height: 100vh;
    width: 100vw;
    background-color: var(--main-background);
    position: relative;
    transition: background-color 0.3s ease;
    overflow: hidden;
}

.body__selection {
    position: fixed;
    background-color: var(--main-background);
    width: 100px;
    height: 100%;
    /* left: -80px; */
    left: 0px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border: 2px solid var(--main-border);
    box-shadow: var(--main-shadow);
    transition: transform 400ms;
    z-index: 20;
}
/* .body__selection:hover {
    transform: translateX(80px);
} */

.body__navigation {
    position: fixed;
    background-color: var(--main-background);
    right: -80px;
    height: 100%;
    width: 100px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border: 2px solid var(--main-border);
    box-shadow: var(--main-shadow);
    transition: transform 400ms;
    z-index: 20;
}
.body__navigation:hover {
    transform: translateX(-80px);
}

.body__timer-wind {
    position: absolute;
    height: 102px;
    width: 102px;
    border-radius: 50%;
    background-color: rgb(255, 136, 0);
    top: 6vw;
    left: 6vw;
    transition: all 300ms ease-out;
}
.body__timer-wind.game-start {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #00dfff45;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    border-radius: 0;
}
.timer-wind__timer {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: aqua;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 300ms ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body__timer-wind.game-start .timer-wind__timer {
    position: absolute;
    height: 300px;
    width: 300px;
    background-color: aqua;
}
.little-time {
    background-color: #ff5722e6;
}

.body__timer-wind.game-start .timer-wind__timer.little-time {
    background-color: #3800d5;
    animation: little-time 800ms infinite;
}
@keyframes little-time {
    0% {
        background-color: #1e0070;
    }
    100% {
        background-color: #ff0000;
        box-shadow: 0 0 15px #ff0000, 0 0 30px #ff0000, 0 0 55px #ff0000,
            0 0 61px #ff0000, 0 0 15px #ff0000,
            /* Другой цвет тени */ 0 0 30px #ff0000, 0 0 55px #ff0000,
            0 0 61px #ff0000;
    }
}

.body__timer-wind .timer-wind__timer span {
    height: 2px;
    width: 10px;
    background-color: #fbc700;
    position: absolute;
}

.body__timer-wind.game-start .timer-wind__timer span {
    height: 9px;
    width: 50px;
    background-color: var(--main-border);
    border-radius: 2px;
    /* position: absolute; */
    border: 1px solid #8b0000;
}

.body__main {
    height: 100vh;
    width: 100vw;
    /* background-color: #413f3f; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.body__main_bt-start {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.bt-start {
    width: 300px;
    height: 100px;
    border: 2px solid var(--main-border);
    border-radius: 35%;
    background-color: var(--main-background);
    box-shadow: var(--main-shadow), inset 4px -4px 4px #000000a1,
        inset -4px 4px 4px #ffffff9a;
    font-size: 54px;
    font-weight: bold;
    color: #fbc700;
    cursor: pointer;
}

.bt-start:hover {
    background-color: #3800d5;
    box-shadow: 0 0 8px #3800d5, 0 0 16px #3800d5, inset 4px -4px 4px #000000a1,
        inset -4px 4px 4px #ffffff9a;
    text-shadow: 0 0 4px #fbc700, 0 0 8px #fbc700;
}
